// Blog Feed Section Styles

.blog-feed-section {
    display: grid;
    // grid-template-areas:  "feedposts feedposts feedposts";
    // grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    margin-top: 10px;
    margin-left: $gridMarginLeft;
    margin-right: $gridMarginRight;
    column-gap: 1vw;
    row-gap: 1vw;
}

.blog-feed-image {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}
