
// Display a single row, multi-column list of all the lataest posts

// wrapper container for the whole section
.feed-latest-posts {
    display: grid;
    grid-template-columns: repeat(2, .5fr); // TODO: allow any number of columns
    gap: 10px;
    @include for-size(phone-only){
        gap: 5px;
    }
}

.feed-latest-posts .feed-card-content {
    display: grid;
    margin-left: 5px;
}

// row to display the title of the item
.feed-latest-posts .feed-card-title {
    margin-bottom: 1rem;
}

// row to display the excerpt of the item
.feed-latest-posts .feed-card-excerpt {
    display: none;
}

// row to display the author of the item
.feed-latest-posts .feed-card-author {
    display: none;
}