// Generic list of all items in a feed. The calling HTML page will
// determine whether the user is looking at a list of blog, podcast, or other types.

// wrapper container for the whole section
.feed-latest {
    display: grid;
    background-color: lightgrey;
}

// container for the content to display
.feed-latest .feed-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 250px;
    align-content: center;
    justify-content: center;
    .feed-card-image { grid-area: 1 / 1 / 2 / 2; }
    .feed-card-image-overlay { grid-area: 1 / 1 / 2 / 2; }
}

.feed-latest .feed-card-image {
    display: grid;
}

.feed-latest .feed-item-image {
    min-width: 250px; // Do not resize to smaller than this.
    width: 100%;
    height: 100%;
    object-fit: cover; // Using this so the image can be any size and still look halfway decent.
}

.feed-latest .feed-card-image-overlay {
    display: grid;
    max-width: 100%;
    background: black;
    background: linear-gradient(
      60deg,
      rgba(0, 0, 0, 0.7777485994397759) 30%,
      rgba(255, 255, 255, 0) 100%
    ); // start at black at the bottom left'ish and goes at a 60% angle. This will make the white easy to read with nearly any image.  
}

// display three rows to the right of the feed item's image.
.feed-latest .feed-card-content {
    display: grid;
    margin-left: $gridMarginLeft;
    margin-right: $gridMarginRight;
    grid-template-columns: 1fr;
    grid-template-rows: min-content auto min-content;
    grid-template-areas: 
        "feed-card-title" 
        "feed-card-excerpt"
        "feed-card-author";
}

// row to display the title of the item
.feed-latest .feed-card-title {
    grid-area: feed-card-title;
    margin-top: 5px;
    @include for-size(phone-only){
        margin-top: 2px;
    }
}

// row to display the excerpt of the item
.feed-latest .feed-card-excerpt {
    grid-area: feed-card-excerpt;
    margin-top: 5px;
    @include for-size(phone-only){
        margin-top: 0px;
    }
}

// row to display the author of the item
.feed-latest .feed-card-author {
    grid-area: feed-card-author;
    align-content: flex-end;
    margin-bottom: 5px;
    @include for-size(phone-only){
        margin-bottom: 2px;
    }
}

// typography
.feed-latest .feed-item-title {
    @include fluid-type(11px, 24px);
}

.feed-latest .feed-item-link {
    text-decoration: none;
    color: $cambermastPrimary;
    &:link { color: $cambermastPrimary; }
    &:visited { color: $cambermastPrimary; }
    &:hover { color: $cambermastAltDarkBlue; }
}

.feed-latest .feed-item-excerpt {
    @include fluid-type(11px, 16px);
    color: grey;
}

.feed-latest .feed-item-author {
    @include fluid-type(11px, 14px);
    text-transform: uppercase;
    color: grey;
}
