// Layouts for the grids (mobile and large screen)


// Default grid layout for the home page
.home-container {
    margin: auto;
    display: grid;
    max-width: 1366px;
}

// Default layout for larger sizes
.home-container {
        // this is for all other size devices
        grid-template-areas:
        "logo    nav     nav     nav";
        // "playpod playpod playpod playpod"
        // "tban    tban    tban    tban"
        // "title   title   title   title"
        // "svcs    svcs    svcs    svcs";
        // "left   svcs   svcs   svcs   svcs   right"
        // "pod    pod    pod    pod    pod    pod"
        // "left   dl     dl     dl     dl     right"
        // "left   sub    sub    sub    sub    right"
        // "signup signup signup signup signup signup"
        // "left   footer footer footer footer right";
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 60px;
}

// Layout for phone sizes
@include for-size(phone-only) {
    .home-container {
        // this is for all other size devices
        grid-template-areas:
        "logo    logo     logo     logo"
        "nav     nav      nav      nav";
        // "playpod playpod playpod playpod"
        // "tban    tban    tban    tban"
        // "title   title   title   title"
        // "svcs    svcs    svcs    svcs";
        // "left   svcs   svcs   svcs   svcs   right"
        // "pod    pod    pod    pod    pod    pod"
        // "left   dl     dl     dl     dl     right"
        // "left   sub    sub    sub    sub    right"
        // "signup signup signup signup signup signup"
        // "left   footer footer footer footer right";
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 60px auto auto;
    }
}
