// Layout for the navigation bar.

// by default, the navigation is on a single row.
// .nav-section {
//     display: grid;
//     grid-template-columns: repeat(4, 1fr);
//     grid-template-rows: 30px;
//     grid-column-gap: 0px;
//     grid-row-gap: 0px;
//     margin-left: $gridMarginLeft;
//     margin-right: $gridMarginRight;
//     }
    
//     .logo-wrapper { 
//         grid-area: 1 / 1 / 2 / 2; 
//     }

//     .nav-wrapper { 
//         grid-area: 1 / 2 / 2 / 5;
//     }

.nav-section {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 20px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-left: $gridMarginLeft;
    margin-right: $gridMarginRight;
    }

// The navigation area is two rows when displayed on a phone
@include for-size(phone-only) {
    .nav-section {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 20px 20px;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin-left: 0px;
        margin-right: 0px;
        }
        
        .logo-wrapper { grid-area: 1 / 1 / 2 / 6; }
        .nav-wrapper { grid-area: 2 / 1 / 3 / 6; }
}

.nav-items {
    display: grid;
    grid-auto-flow: column;
    justify-items: end;
    height: 100%;
    align-content: center;
    justify-content: space-evenly;
    @include for-size(phone-only) {
        // justify-items: center;
        justify-content: space-evenly;
    }
}

.nav-logo {
    height: 100%;
}

.nav-logo-image {
    height: 100%;
}

// styling for the nav item
.nav-item {
    font-size: calc(12px + .2vw);
    text-transform: uppercase;
    color: $navDefaultColor;
    text-decoration: none;

    &:hover {
        font-weight: bold;
    }
    &:visited {
        color: $navDefaultColor;
    }

    &:active {
        font-weight: bolder;
    }
}

