// Layout for the navigation bar.

// layout
.nav-section {
    grid-area: nav;
    display: grid;
    background-color: $navBackground;
    white-space: nowrap; // don't wrap any multi-word menu items.

    @if $debug { background-color: $debugNavArea; }
}


.nav-wrapper {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    column-gap: 10px;
    margin-left: 10px;
    @include for-size(phone-only) {
        margin-right: $gridMarginLeft;
        column-gap: auto;
    }
}


// styling for the nav item
.nav-item {
    font-size: 16px;
    text-transform: uppercase;
    color: $navDefaultColor;
    text-decoration: none;
    @include for-size(phone-only) {
        font-size: 12px;
    }

    &:hover {
        font-weight: bold;
    }
    &:visited {
        color: $navDefaultColor;
    }

    &:active {
        font-weight: bolder;
    }
}

// .menu-item {
//     display: flex;
//     align-items: center;
//     justify-content: flex-end;
//     a {
//         display: flex;
//         align-items: center;
//         height: 50px;
//     }
//     img {
//         width: 20px;
//         @include for-size(tablet-landscape-up){
//            width: 16px;
//          }
//     }
// }

// // hover
// .nav-section .nav-item {

//     &:hover{
//         color: $navHoverColor;
//         font-weight: bold;
//     }

// }

// // selected
// .nav-section .nav-item {
//     font-size: 16px;
//     color: $navDefaultColor;
//     text-decoration: none;
//     text-transform: uppercase;
//     @include for-size(desktop-up){
//         font-size: 16px;
//      }
//      @include for-size(tablet-landscape-up){
//         font-size: 12px;
//      }
//      @include for-size(tablet-only){
//         font-size: 11px;
//      }
//     &:active{
//         color: $navSelectedColor;
//         border-top: $navSelectedBorderSize solid $navSelectedBorderColor;
//     }
// }


