// Blog Feed Section Styles

.podcast-feed-section {
    display: grid;
    // show as many columns as possible, not going smaller than 350px.
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    margin-top: 10px;  // separate the grid from the top banner.
    margin-left: $gridMarginLeft; // indent the podcast list.
    margin-right: $gridMarginRight; // indent the podcast list.
    column-gap: 1vw; 
    row-gap: 1vw;

    // reduce the side border on the grid if mobile
    @include for-size(phone-only){
        margin-left: 5px;
        margin-right: 5px;
        align-items: start;
        column-gap: 0px;
    }
}

.podcast-feed-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

// topography for the podcast reed.
.podcast-feed-title {
    color:$navHoverColor;
    text-decoration: none;
    text-transform: uppercase;
    &:link { color: $navHoverColor; }
    &:hover { color: $navHoverColor; }
    &:active { color: $navHoverColor; }
    &:visited { color: $navHoverColor; }
}
.podcast-feed-excerpt-div { 
    line-height: 1.25em;
}
