// layout for services

// display a 2-column grid
.services-section {
  display: grid;
  margin-top: 10px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  grid-auto-flow: row dense;

  @include for-size(phone-only) {
    display: block;
  }

  margin-left: $gridMarginLeft;
  margin-right: $gridMarginRight;
  @if $debug { background-color: $debugServicesArea; }
}

// alternate the services columns for each row, like this:
// | service | image   |
// | image   | service |
// | service | image   |
// | image   | service |
.services-section > :nth-child(4n-1) {
  grid-column-start: 2;
}

// get started button styles
.general-btn {
  width: 180px;
  height: 50px;
  border: 1px solid $debugblueBtn;
  margin-top: 10px;
  background-color: #ffffff;
  color: $debugblueBtn;
  font-size: 16px;
  font-weight: 600;
}

.services-image {
  width: 100%;
  height: auto;
}

// more or less center the content of the service description.
.services-section-text {
  margin-left: 10%;
  margin-right: 10%;
}

// space out the lines of text in the services description.
// todo: move to typography.
.services-description {
  line-height: 1.5;
}

// move the service title down closer to the service description.
.services-title {
  line-height: 0px;
}