// Styles for the top banner

// overlapping grids: https://cssgrid-generator.netlify.com/
// 1x1, then click three times on the cell.
.top-banner-secondary-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-content: center;
    justify-content: center;

    // place items over the banner image.
    .banner-image-secondary-div   { grid-area: 1 / 1 / 2 / 2; } // image
    .banner-overlay-secondary-div { grid-area: 1 / 1 / 2 / 2; } // gradient or other overlay
    .banner-text-secondary-div    { grid-area: 1 / 1 / 2 / 2; } // overlay objects like text, buttons, etc.
}

// allow the banner image to resize.
.banner-image-secondary {
    min-width: 350px; // Do not resize to smaller than this.
    width: 100%;
    height: auto;
    display: block;
}

.banner-overlay-secondary-div {
    max-width: 100%;
    background: black;
    background: linear-gradient(60deg, rgba(0,0,0,0.7777485994397759) 30%, rgba(255,255,255,0) 100%);
}

// create a 2-row grid
.banner-text-secondary-div {
  display: grid;
  grid-template-areas:  "banhead banhead"
                        "bancrumb bancrumb";

  // height: 100%;
  // text-align: center;
  // vertical-align: 
  // display: inline-block;
}

// center the heading horizontally and vertically
.banner-secondary-h1 {
  display: grid;
  grid-area: banhead;
  justify-items: center;
  align-items: center;
}

// 
.banner-secondary-breadcrumnbs {
  display: grid;
  grid-area: bancrumb;
  justify-items: center;
  align-items: start;
}


// banner secondary text
.banner-secondary-h1 {
  font-size: calc(16px + .9vw); // approximately 32px at the largest width
  letter-spacing: .05em;
  font-weight: bolder;
  text-transform: uppercase;
  color: $bannerHead1Color;
}

.banner-href-secondary {
    font-size: calc(10px + .2vw);
    color: $bannerHead1Color;
    margin-top: $bannerHead2MarginTop;
    margin-bottom: 20px;
    text-decoration: none;

    &:hover { color: $bannerHead1Color; };
    &:visited { color: $bannerHead1Color; } d
    &:active { color: $bannerHead1Color; }
}

