// Styles for the top banner on the home page

// overlapping grids: https://cssgrid-generator.netlify.com/
// 1x1, then click three times on the cell.
.top-banner-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-content: center;
    justify-content: center;

    // place items over the banner image.
    .banner-image-div   { grid-area: 1 / 1 / 2 / 2; } // image
    .banner-overlay-div { grid-area: 1 / 1 / 2 / 2; } // gradient or other overlay
    .banner-text-div    { grid-area: 1 / 1 / 2 / 2; } // overlay objects like text, buttons, etc.
}

// allow the banner image to resize.
.banner-image {
    min-width: 350px; // Do not resize to smaller than this.
    width: 100%;
    height: auto;
    display: block;
}

// gradient overlay
.banner-overlay-div {
    max-width: 100%;
    background: black;
    background: linear-gradient(60deg, rgba(0,0,0,0.7777485994397759) 30%, rgba(255,255,255,0) 100%);
}

// banner text
.banner-text-div {
    display: grid;
    align-items: center;
    margin-left: $gridMarginLeft;
    margin-right: $gridMarginRight;
}

// Typograhy
.banner-h1-text {
    font-size: calc(10pt + .15vw); // set a minimum font size
    letter-spacing: .05em;
    font-weight: bolder;
    text-transform: uppercase;
    color: $bannerHead1Color;
  }

.banner-body-text {
    font-size: calc(10pt + .15vw);
    margin-top: .5em;
    color: $bannerHead1Color;
    text-decoration: none;

    &:hover { color: $bannerHead1Color; };
    &:visited { color: $bannerHead1Color; }
    &:active { color: $bannerHead1Color; }
}

.banner-btn {
    margin-top: 1em;
}

.banner-btn-item {
    font-size: calc(8pt + .15vw); // responsive size, but keep a minimum.
    padding-top: calc(.5em + .08vw);
    padding-bottom: calc(.5em + .08vw);
    padding-left: calc(.5em + .08vw);
    padding-right: calc(.5em + .08vw);
    color: $btnDefaultColor;
    background-color: $btnDefaultBgColor;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid $btnDefaultBorderColor;

      &:link { text-decoration: none; }
      &:visited { text-decoration: none;}
}
