// Styles for the featured image of a post

// overlapping grids: https://cssgrid-generator.netlify.com/
// 1x1, then click three times on the cell.
.featured-image-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-content: center;
    justify-content: center;

    // place items over the featured image.
    .featured-image-secondary-div   { grid-area: 1 / 1 / 2 / 2; } // image
    .featured-image-secondary-div   { grid-area: 1 / 1 / 2 / 2; } // gradient or other overlay
    .featured-image-secondary-div   { grid-area: 1 / 1 / 2 / 2; } // overlay objects like text, buttons, etc.
}

// allow the featured image to resize.
.featured-image-secondary {
    min-width: 350px; // Do not resize to smaller than this.
    width: 100%;
    height: auto;
    display: block;
}

.featured-image-secondary-div {
    max-width: 100%;
    background: black;
    background: linear-gradient(60deg, rgba(0,0,0,0.7777485994397759) 30%, rgba(255,255,255,0) 100%);
}

// create a 2-row grid
.featured-image-secondary-div {
  display: grid;
  grid-template-areas:  "fihead fihead"
                        "ficrumb ficrumb";
  grid-template-columns: 1fr;
}

// center the heading horizontally and vertically
.featured-image-h1 {
  display: grid;
  grid-area: fihead;
  justify-items: center;
  align-items: center;
}

// special text that goes along with the title
.featured-image-breadcrumnbs {
  display: grid;
  grid-area: ficrumb;
  justify-items: center;
  align-items: start;
}


// featured image secondary text
.featured-image-h1 {
  font-size: calc(16px + .9vw); // approximately 32px at the largest width
  letter-spacing: .05em;
  font-weight: bolder;
  text-transform: uppercase;
  color: $bannerHead1Color;
}

.featured-image-href-secondary {
    font-size: calc(10px + .2vw);
    color: $bannerHead1Color;
    margin-top: $bannerHead2MarginTop;
    margin-bottom: 20px;
    text-decoration: none;

    &:hover { color: $bannerHead1Color; };
    &:visited { color: $bannerHead1Color; } d
    &:active { color: $bannerHead1Color; }
}

