{% comment %} home banner image {% endcomment %}
<div class="top-banner-secondary-section">
    {% comment %} Display the image {% endcomment %}
    <div class="banner-image-secondary-div">
        <img class="banner-image-secondary" src="{{- 'assets/banners/banner-services.png' | relative_url -}}" alt="Banner Image" />
    </div>
    {% comment %} Display the graident overlay {% endcomment %}
    <div class="banner-overlay-secondary-div"></div>
    {% comment %} Display the text {% endcomment %}
    <div class="banner-text-secondary-div">
        <div class="banner-secondary-h1">Services</div>
        <div class="banner-secondary-breadcrumnbs">
            <span>
            <a class="banner-href-secondary" href="{{- '/' | relative_url -}}">Home</a>
            <span class="banner-href-secondary"> &#10095;</span>
            <a class="banner-href-secondary" href="{{- '/services' | relative_url -}}"><strong>Services</strong></a>
            </span>
        </div>
    </div>
</div>