<!-- home banner image -->
<div class="top-banner-secondary-section">
    <!-- Display the image -->
    <div class="banner-image-secondary-div">
        <img class="banner-image-secondary" src="{{- 'assets/banners/banner-podcast.png' | relative_url -}}" alt="Banner Image" />
    </div>
    <!-- Display the graident overlay -->
    <div class="banner-overlay-secondary-div"></div>
    <!-- Display the text -->
    <div class="banner-text-secondary-div">
        <div class="banner-secondary-h1">Podcast</div>
        <div class="banner-secondary-breadcrumnbs">
            <span>
            <a class="banner-href-secondary" href="{{- '/' | relative_url -}}">Home</a>
            <span class="banner-href-secondary"> &#10095;</span>
            <a class="banner-href-secondary" href="{{- '/agile-in-action-podcast' | relative_url -}}"><strong>Podcast</strong></a>
            <a class="banner-href-secondary" href="https://agileinaction.libsyn.com/rss"> (feed)</a>
            </span>
        </div>
    </div>
</div>