<section class="feed-latest-posts">
  <div class="feed-latest-post-cards">
    {%- assign ft = "agile-in-action-podcast" -%}
      {%- assign fi = site.data.configs.podcast-fi -%}
      {%- assign fg = site.data.configs.podcast-glyph -%}
    {%- assign cs = "feed-latest" -%}
    {%- assign do = 0 -%}
    {%- assign dl = 1 -%}
    {%- include feed.html 
          feedType=ft 
          featuredImage = fi
          feedGlyph = fg
          cssStyle = cs 
          displayOffset = do 
          displayLimit = dl 
    -%}
  <!-- Display the blog latest post -->
    {%- assign ft = "agile-blog" -%}
    {%- assign fi = site.data.configs.blog-fi -%}
    {%- assign fg = site.data.configs.blog-glyph -%}
    {%- assign do = 0 -%}
    {%- assign dl = 1 -%}
    {%- include feed.html 
          feedType=ft 
          featuredImage = fi
          feedGlyph = fg
          cssStyle = cs 
          displayOffset = do 
          displayLimit = dl 
    -%}
  </div>
</section>