{% comment %}
    Feed listing for blogs, podcasts, or other post types
    This page uses the following parameters via include variables:

    REQUIRED:
    feed-type:      The "category" of post to use, which is found on the post itself
    (feedType)

    caption-image:  default image for any item displayed in the feed
    (captionImage)  Important: The caption-image MUST be square
                    or it will not display properly (ex 250x250 or 100x100).
                    If a featured image is available, then display that and 
                    ignore the caption image.

    css-style:      the <main> style that will be used to display the feed
    (cssStyle)      The feed can be used to display one or many posts,
                    so you might want a different layout.
    
    OPTIONAL:
    display-offset: tells the feed how many posts to skip.
    (displayOffset) Default is 0 (zero)
                    If 0, then start by displaying the first blog post.
                    If 1, then start by displaying the second blog post.
                    You can use any positive integer.

    display-limit:  determines how many posts to display.
    (displayLimit)  Default is null (display all posts based on the offset)
                    1 displays a single post.
                    5 displays 5 posts.
                    You can use any positive integer.
{% endcomment %}
{%- assign css-style = include.cssStyle -%}
<section class="{{css-style}}">
    {% assign feed-type = include.feedType %}
    {% assign feedPosts = site.posts | where: 'categories', feed-type %}
    {%- assign display-offset = include.displayOffset -%}
    {%- assign display-limit = include.displayLimit -%}
    {% for post in feedPosts offset: display-offset limit: display-limit %}
        <div class="feed-card">
            <div class="feed-card-image">
                {% comment %} Display the post's featured image. {% endcomment %}
                {%- if post.featuredImage == "" or post.featuredImage == nil -%}
                    <!-- No featured image provided, so get it from the index.html file. -->
                    {% assign caption-image = include.captionImage %}
                    <img class="feed-item-image" src="{{- caption-image | relative_url -}}" alt="{{- post.title -}}">
                {%- else -%}
                    {% comment %} There is a featured image, so use that {% endcomment %}
                    <img class="feed-item-image" src="{{- post.featuredImage | relative_url }}" alt="{{- post.title -}}">
                {%- endif -%}
            </div>
            <div class="feed-card-image-overlay"></div>
            <div class="feed-card-content">
                <div class="feed-card-title">
                    <span class="feed-item-title"><a class="feed-item-link" href="{{- post.url | relative_url -}}">{{- post.title | escape -}}</a></span>
                </div>
                <div class="feed-card-excerpt">
                    {% comment %} Excerpt text should be plain text {% endcomment %}
                    {%- assign miniExcerpt = post.excerpt -%}
                    {%- assign miniExcerpt = miniExcerpt | strip_html -| escape | lstrip | rstrip -%}
                    {%- assign miniExcerpt = miniExcerpt | split: ". " | first -%}
                    {%- assign miniExcerpt = miniExcerpt | append: "." -%}
                    <span class="feed-item-excerpt">{{- miniExcerpt -}}</span>
                </div>
                <div class="feed-card-author">
                    {% comment %} display the post's author. Use default if necessary. {% endcomment %}
                    <span class= "feed-item-author">{{ site.author }} - {{ post.date | date: "%A, %B %d, %Y"}}</span>
                </div>
            </div>
        </div>
    {%- endfor -%}
</section>
