// All styles, media queries, and mixins for the site.
// Generally follows the 7-1 methodology:
// https://itnext.io/structuring-your-sass-projects-c8d41fa55ed4

@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'abstracts/functions';
@import 'base/typography';
@import 'layout/home';
@import 'layout/logo';
@import 'layout/nav';
@import 'layout/playpod';
@import 'layout/tban';
@import 'layout/tban-secondary';
@import 'layout/title';
@import 'layout/svcs';
@import 'layout/footer';
@import 'layout/newsletter';
@import 'layout/action_podcast';
@import 'layout/customers';
@import 'layout/pagination';
@import 'layout/events';
@import 'layout/podcast';
@import 'layout/testimonials';
@import 'layout/site';
@import 'layout/blog-post';
@import 'layout/tban-featured-image';
@import 'layout/podcast-post';
@import 'layout/services-page';
@import 'layout/about-us';
@import 'layout/markdown';
@import 'layout/linkedin-badge';
@import 'layout/feed';
@import 'layout/feed-latest';
@import 'layout/feed-latest-posts';

// 7-1 Reference guide
// sass/
// |
// |– abstracts/ (or utilities/)
// |   |– _variables.scss    // Sass Variables
// |   |– _functions.scss    // Sass Functions
// |   |– _mixins.scss       // Sass Mixins
// |
// |– base/
// |   |– _reset.scss        // Reset/normalize
// |   |– _typography.scss   // Typography rules
// |
// |– components/ (or modules/)
// |   |– _buttons.scss      // Buttons
// |   |– _carousel.scss     // Carousel
// |   |– _slider.scss       // Slider
// |
// |– layout/
// |   |– _navigation.scss   // Navigation
// |   |– _grid.scss         // Grid system
// |   |– _header.scss       // Header
// |   |– _footer.scss       // Footer
// |   |– _sidebar.scss      // Sidebar
// |   |– _forms.scss        // Forms
// |
// |– pages/
// |   |– _home.scss         // Home specific styles
// |   |– _about.scss        // About specific styles
// |   |– _contact.scss      // Contact specific styles
// |
// |– themes/
// |   |– _theme.scss        // Default theme
// |   |– _admin.scss        // Admin theme
// |
// |– vendors/
// |   |– _bootstrap.scss    // Bootstrap
// |   |– _jquery-ui.scss    // jQuery UI
// |
// `– main.scss              // Main Sass file