<!-- home banner image -->
<div class="top-banner-section">
    <div class="banner-image-div">
        <img class="banner-image" src="{{- 'assets/banners/banner-home.png' | relative_url -}}" alt="Banner Image" />
    </div>
    <div class="banner-overlay-div"></div>
    <div class="banner-text-div">
        <div class="banner-h1">Agile transformations</div>
        <div class="banner-text">
            Learn how agile can give you a competitive edge.
        </div>
        <div class="banner-head-btn-div">
            <a class="button-default" href="#">Get started &#8594;</a>
        </div>
    </div>
</div>