<!-- home banner image -->
<div class="top-banner-section">
    <div class="banner-image-div">
        <img class="banner-image" src="{{- 'assets/banners/banner-home.png' | relative_url -}}" alt="Banner Image" />
    </div>
    <div class="banner-overlay-div"></div>
        <div class="banner-text-div">
                <span class="banner-text">
                    <p class="banner-h1-text">Agile transformation</p>
                    <p class="banner-body-text">Learn how agile can give you a competitive edge.</p>
                    <p class="banner-btn"><a class="banner-btn-item" href="{{- '/services' | relative_url -}}">Get started &#8594;</a></p>
                </span>
            </div>
        </div>
</div>