<!-- home banner image -->
<div class="top-banner-secondary-section">
    <div class="banner-image-secondary-div">
        <img class="banner-secondary-image" src="{{- 'assets/banners/banner-home.png' | relative_url -}}" alt="Banner Image" />
    </div>
    <div class="banner-overlay-secondary-div"></div>
    <div class="banner-text-secondary-div">
        <div class="banner-secondary-h1">Agile transformations</div>
        <div class="banner-text-secondary">
            Learn how agile can give you a competitive edge.
        </div>
        <div class="banner-head-btn-secondary-div">
            <a class="button-default" href="#">Get started &#8594;</a>
        </div>
    </div>
</div>