<!-- home banner image -->
<div class="featured-image-section">
    <!-- Display the image -->
    <div class="featured-image-secondary-div">
      {%- assign type = page.categories[0] -%}
      {%- assign fi = page.featuredImage -%}
      {%- assign fiImageUrl = "" -%}
      <!-- if a post has a featured image, use it -->
      {%- if fi != "" or fi != nil -%}
          {%- assign usePostFi = 'usePost' -%}
          {%- assign fiImageUrl = page.featuredImage -%}
      {%- endif -%}
      {%- if fi == "" or fi == nil -%}
          {%- assign usePostFi = 'useDefault' -%}
      {%- endif -%}
      <!-- Define the image to use if there is no featured image in the post -->
      {%- if usePostFi == 'useDefault' and type == 'agile-blog' -%}
          {%- assign fiImageUrl = '/assets/featured-images/blog-feed-placeholder.jpg' -%}
      {%- endif -%}
      {%- if usePostFi == "useDefault" and type == 'agile-in-action-podcast' -%}
          {%- assign fiImageUrl = '/assets/agile-blog/podcast-feed-placeholder.jpg' -%}
      {%- endif -%}
      <img class="featured-image-secondary" src="{{- fiImageUrl | relative_url -}}" alt="Banner Image" />
    </div>
    <!-- Display the text -->
    <div class="featured-image-secondary-div">
        <div class="featured-image-h1">{{- page.title -}}</div>
    </div>
</div>