<!-- Feed listing for blogs, podcasts, or other post types -->
<main class="feed-section">
    {%- if site.posts.size > 0 -%} <!-- Only display content if there are posts -->
        {%- for post in site.posts -%}
            {%- if post.categories[0] == page.feed-type -%} <!-- only display posts with the defined feed type -->
            <div class="post-card">
                <div class="post-card-image">
                    <!-- Display the post's featured image. -->
                   {%- if post.featuredImage == "" or post.featuredImage == nil -%}
                       <!-- No featured image provided, so get it from the index.html file. -->
                       <img class="featured-image" src="{{- page.default-image | relative_url -}}" alt="{{- post.title -}}">
                   {%- else -%}
                       <!-- There is a featured image, so use that -->
                       <img class="featured-image" src="{{- post.featuredImage | relative_url }}" alt="{{- post.title -}}">
                   {%- endif -%}
                </div>
                <div class="post-card-content">
                    <a class="post-title" href="{{- post.url | relative_url -}}">{{- post.title | escape -}}</a>
                    <!-- Excerpt text should be plain text -->
                    <p class="post-excerpt">{{ post.excerpt | strip_html -| escape | lstrip | rstrip }}</p>
                    <!-- display the post's author. Use default if necessary. -->
                    <p class= "post-author">Author: {{- post.author -}}</p>
                </div>
            </div>
            {%- endif -%}
        {%- endfor -%}
    {%- endif -%}
</main>
