<!-- Podcast feed section -->
<div class="podcast-feed-section">
    <!-- Check to make sure there are posts -->
    {%- if site.posts.size > 0 -%}
        {%- for post in site.posts -%}
            <!-- Layout must be agile-podcast -->
            {%- if post.categories[0] == 'agile-in-action-podcast' -%}
                <div class="podcast-feed-item">
                    <div class="podcast-feed-image-div">
                        <!-- Display the post's featured image, otherwise display a default -->
                        {%- if post.featuredImage -%}
                            <img class="podcast-feed-image" src="{{- post.featuredImage | relative_url }}" alt="{{- post.title -}}">
                        {%- else -%}
                            <img class="podcast-feed-image" src="{{- '/assets/featured-images/podcast-feed-placeholder.jpg' | relative_url -}}">
                        {%- endif -%}
                    </div>
                    <div class="podcast-feed-title-div">
                        <a href="{{- post.url | relative_url -}}" class="podcast-feed-title">{{- post.title | escape -}}</a>
                    </div>
                    <div class="podcast-feed-excerpt-div">
                        <!-- Preview text should be plain text -->
                        {%- assign previewText = post.excerpt -%}
                        {%- assign previewText = previewText | strip_html -%}
                        {%- assign previewText = previewText | escape -%}
                        {%- assign previewText = previewText | lstrip -%}
                        {%- assign previewText = previewText | rstrip -%}
                        {%- assign previewText = previewText | append: "..." -%}
                        {{- previewText -}}
                    </div>
                </div>
            {%- endif -%}
        {%- endfor -%}
    {%- endif -%}
</div>
