<!-- Services section -->
<!-- *** Services area *** -->
<div class="services-section">
    <!-- Service #1 -->
    <div class="services-text">
        <div class="services-section-text">
            <h3 class="services-title">Agile Transformation</h3>
            <p class="services-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore 
            magna aliqua. Ut enim ad minim veniam, quis nostrud 
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <button class="general-btn">GET STARTED &#8594;</button>
        </div>
    </div>
    <div class="services-image-div">
        <img class="services-image" src="{{-'/assets/images-services/home-agile-transformation.png' | relative_url-}}" alt="Agile transformation image." />
    </div>

    <!-- Service #2 -->
    <div class="services-text">
        <div class="services-section-text">
            <h3 class="services-title">Agile Coaching</h3>
            <p class="services-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore 
            magna aliqua. Ut enim ad minim veniam, quis nostrud 
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <button class="general-btn">GET STARTED &#8594;</button>
        </div>
    </div>
    <div class="services-image-div">
        <img class="services-image" src="{{-'/assets/images-services/home-agile-coaching.png' | relative_url-}}" alt="Agile transformation image." />
    </div>

    <!-- Service #3 -->
    <div class="services-text">
        <div class="services-section-text">
            <h3 class="services-title">Software Implementation</h3>
            <p class="services-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore 
            magna aliqua. Ut enim ad minim veniam, quis nostrud 
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <button class="general-btn">GET STARTED &#8594;</button>
        </div>
    </div>
    <div class="services-image-div">
        <img class="services-image" src="{{-'/assets/images-services/home-agile-sw-implementation.png' | relative_url-}}" alt="Agile transformation image." />
    </div>
</div>
