<!-- Services page /services -->
<div class="services-page-section">
    <div class="services-page-item">
        <div class="services-page-image-div">
            <img class="services-page-image" src="{{- '/assets/images-services/home-agile-coaching.png' | relative_url -}}">
        </div>
        <div class="services-page-title-div">
            <a href="{{- '/services' | relative_url -}}" class="services-page-title">Agile Coaching</a>
        </div>
        <div class="services-page-excerpt-div">
            <ul class="servies-page-list">
                <li class="services-page-bullet">from experienced people</li>
                <li class="services-page-bullet">Get valueable advice</li>
            </ul>
        </div>
    </div>
    <div class="services-page-item">
        <div class="services-page-image-div">
            <img class="services-page-image" src="{{- '/assets/images-services/home-agile-sw-implementation.png' | relative_url -}}">
        </div>
        <div class="services-page-title-div">
            <a href="{{- '/services' | relative_url -}}" class="services-page-title">Agile Software Implementation</a>
        </div>
        <div class="services-page-excerpt-div">
            Learn from experienced people
        </div>
    </div>
    <div class="services-page-item">
        <div class="services-page-image-div">
            <img class="services-page-image" src="{{- '/assets/images-services/home-agile-transformation.png' | relative_url -}}">
        </div>
        <div class="services-page-title-div">
            <a href="{{- '/services' | relative_url -}}" class="services-page-title">Agile Transformation</a>
        </div>
        <div class="services-page-excerpt-div">
            Learn from experienced people
        </div>
    </div>
</div>
