---
layout: default
---
<div class="home-container">
  {% comment %} Display the navigation section {% endcomment %}
    {%- include nav.html -%}
  {% comment %} Display the play podcast section {% endcomment %}
    {%- include playpod.html -%}
  {% comment %} Display the home page header image {% endcomment %}
    {%- include banner-about-us.html -%}
  {% comment %} Display the about us content {% endcomment %}
  {%- include about-us.html -%}
  {% comment %} Display the footer section {% endcomment %}
    {%- include footer.html -%}
</div>