---
layout: default
---
<div class="home-container">
  
  {% comment %} Display the navigation section {% endcomment %}
    {%- include nav.html -%}
  {% comment %} Display the play podcast section {% endcomment %}
    {%- include playpod.html -%}
  {% comment %} Display the home page header image {% endcomment %}
    {%- include banner-blog-feed.html -%}
  {% comment %} Display the blog feeds {% endcomment %}
    {%- include blog-feed.html -%}
  {% comment %} Display the footer section {% endcomment %}
    {%- include footer.html -%}

</div>