---
layout: cambermast-default
---
<div class="home-container">
    <!-- Display the navigation section -->
      {%- include nav.html -%}
    <!-- Display the play podcast section -->
      {%- include playpod.html -%}
    <!-- Display the home page header image -->
    <!-- TODO #1: Automate this with Liquid -->
      {%- include latest-post.html -%}
    <!-- Display the feed (blog, podcast, etc) content -->
      {%- include feed.html -%}
    <!-- Display the footer section -->
      {%- include footer.html -%}
</div>

