---
layout: cambermast-default
---
<div class="home-container">
  
  <!-- Display the navigation section -->
    {%- include cambermast-includes/nav.html -%}
  <!-- Display the play podcast section -->
    {%- include cambermast-includes/playpod.html -%}
  <!-- Display the home page header image -->
  <!-- TODO #1: Automate this with Liquid -->
    {%- include cambermast-includes/banner-blog-feed.html -%}
  <!-- Display the blog feeds -->
    {%- include cambermast-includes/blog-feed.html -%}
  <!-- Display the footer section -->
    {%- include cambermast-includes/footer.html -%}

</div>