---
layout: cambermast-default
---
<div class="home-container">
  
  <!-- Display the navigation area -->
    {%- include cambermast-includes/nav.html -%}
  <!-- Display the play podcast area -->
    {%- include cambermast-includes/playpod.html -%}
  <!-- Display the home page header image -->
  <!-- TODO #1: Automate this with Liquid -->
    {%- include cambermast-includes/banner-home.html -%}
  <!-- Display the play services area -->
  {%- include cambermast-includes/services-home.html -%}
</div>