---
layout: default
---
<div class="home-container">
    <!-- Display the navigation section -->
      {%- include nav.html -%}
    <!-- Display the play podcast section -->
      {%- include playpod.html -%}
    <!-- Display the home page header image -->
    <!-- TODO #1: Automate this with Liquid -->
      {%- include banner-blog-feed.html -%}
    <!-- Display the feed (blog, podcast, etc) content -->
      {%- include feed.html c="agile-blog" -%}
    <!-- Display the footer section -->
      {%- include footer.html -%}
</div>

      {% comment %} caption-image="/assets/agile-blog/agile-blog-caption-image.jpg"
      title="Agile in Action Blog"
      css-style="feed-section"
      display-offset=0 {% endcomment %}
