---
layout: default
---
<div class="home-container">
    <!-- Display the navigation section -->
      {%- include nav.html -%}
    <!-- Display the feed in the form of a single "latest post" -->
    <!-- Go to the "include" file below to get details for each property -->
      {%- assign ft = "agile-in-action-podcast" -%}
      {%- assign fi = "/assets/agile-in-action/agile-in-action-caption-image.svg" -%}
      {%- assign fg = site.data.configs.podcast-glyph -%}
      {%- assign cs = "feed-latest" -%}
      {%- assign do = 0 -%}
      {%- assign dl = 1 -%}
      {%- include feed.html 
            feedType= ft
            featuredImage = fi
            feedGlyph = fg
            cssStyle = cs
            displayOffset = do
            displayLimit = dl
      -%}
    <!-- Display the feed in the form of a podcast feed -->
      {%- assign ft = "agile-in-action-podcast" -%}
      {%- assign fi = "/assets/agile-in-action/agile-in-action-caption-image.svg" -%}
      {%- assign fg = site.data.configs.podcast-glyph -%}
      {%- assign cs = "feed-section" -%}
      {%- assign do = 1 -%}
      {%- assign dl = null -%}
      {%- include feed.html 
            feedType=ft
            featuredImage = fi
            feedGlyph = fg
            cssStyle = cs
            displayOffset = do
            displayLimit = dl
      -%}
    <!-- Display the footer section -->
      {%- include footer.html -%}
</div>
