---
layout: default
---
<div class="home-container">
    <!-- Display the navigation section -->
      {%- include nav.html -%}
    <!-- Display the play podcast section -->
      {%- include playpod.html -%}
    <!-- Display the home page header image -->
    <!-- TODO #1: Automate this with Liquid -->
      {% comment %} TODO: Remove this and related files: {%- include banner-blog-feed.html -%} {% endcomment %}
    <!-- Display the feed in the form of a blog feed -->
      {%- assign ft = "agile-blog" -%}
      {%- assign ci = "/assets/agile-blog/agile-blog-caption-image.jpg" -%}
      {%- assign fg = "/assets/feed-glyphs/blog.svg" -%}
      {%- assign cs = "feed-latest" -%}
      {%- assign do = 0 -%}
      {%- assign dl = 1 -%}
      {%- include feed.html 
            feedType=ft 
            captionImage = ci 
            cssStyle = cs 
            displayOffset = do 
            displayLimit = dl 
      -%}
    <!-- Display the feed in the form of a blog feed -->
      {%- assign ft = "agile-blog" -%}
      {%- assign ci = "/assets/agile-blog/agile-blog-caption-image.jpg" -%}
      {%- assign fg = "/assets/feed-glyphs/blog.svg" -%}
      {%- assign cs = "feed-section" -%}
      {%- assign do = 1 -%}
      {%- assign dl = null -%}
      {%- include feed.html 
            feedType=ft 
            captionImage = ci 
            cssStyle = cs 
            displayOffset = do 
            displayLimit = dl 
      -%}
    <!-- Display the footer section -->
      {%- include footer.html -%}
</div>