// layout for a blog posting

// Left and right border for blog posts
$postWidth: 75%;

.blog-post-section {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: $postWidth;
    @include for-size(phone-only){
        margin-left: $gridMarginLeft;
        margin-right: $gridMarginRight;
    }

    img {
        max-width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    iframe {
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 560px;
        height: 315px;
        @include for-size(phone-only){
            width: 325px;
            height: 183px;
          }
    }

    .gumroad-button {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    h2 {
        margin-top: 1.5em;
        margin-bottom: .25em;
        color: $cambermastAltDarkBlue;
    }

    h3 {
        margin-top: 1.5em;
        margin-bottom: .25em;
        color: $cambermastAltDarkBlue;
    }
}

