// layout for the area that displays if a browser is not supported.

.browser-not-supported {
    display: block;
    width: 100%;
    background-color: red;
    margin-bottom: 10px;
}

.browser-not-supported-message {
    color: white;
    text-align: center;
    // text-transform: uppercase;
}