// layout for the area that displays if a browser is not supported.

.browser-not-supported {
    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: 50px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
    justify-items: center;
    background-color: red;
    margin-bottom: 10px;
}

.browser-not-supported-message {
    color: white;
    // text-transform: uppercase;
}