// Generic list of all items in a feed. The calling HTML page will
// determine whether the user is looking at a list of blog, podcast, or other types.

// wrapper container for the whole section
.feed-latest {
    display: grid;
    margin-top: 5px;
}

// *** FEATURED IMAGE AND OVERLAY ***
// container for the content to display
.feed-latest .feed-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 350px;

    // layer the image, gradient overlay, and post summary on top of each other:
    .feed-card-image { grid-area: 1 / 1 / 2 / 2; }
    .feed-card-gradient-overlay { grid-area: 1 / 1 / 2 / 2; }
    .feed-card-glyph { grid-area: 1 / 1 / 2 / 2;}
    .feed-card-content { grid-area: 1 / 1 / 2 /2; }

    @include for-size(phone-only){
        grid-template-rows: 150px;
    }
}

// .feed-latest .feed-card-image {
//     grid-area: feed-card-image;
// }

.feed-latest .feed-item-image {
    width: 100%;
    max-height: 100%;
    object-fit: cover; // Using this so the image can be any size and still look halfway decent.
    border-radius: 5px;
}


// Add a semi-transparent gradient overlay that displays over the featured image
// Start at black at the bottom left'ish and goes at a 60% angle. 
.feed-latest .feed-card-gradient-overlay {
    display: grid;
    border-radius: 5px;
    max-width: 100%;
    background: black;
    background: linear-gradient(
      60deg,
      rgba(0, 0, 0, 0.7777485994397759) 5%,
      rgba(255, 255, 255, 0) 100%
    ); 
}

.feed-latest .feed-card-glyph {
    display: grid;
    align-self: start;
    margin-left: $gridMarginLeft;
    margin-top: $gridMarginTop;

    @include for-size(phone-only){
        margin-left: 5px;
        margin-top: 5px;
    }
}

.feed-latest .feed-item-glyph {
    width: auto;
    height: 25px;
}


// *** CONTENT ***
// layout for the card content, like title, excerpt, author, etc.
.feed-latest .feed-card-content {
    display: grid;
    margin-left: $gridMarginLeft;
    margin-right: $gridMarginRight;
    align-content: end;
    grid-template-rows: min-content min-content min-content;
    grid-template-columns: 1fr;

    grid-template-areas:
        "feed-card-title" 
        "feed-card-excerpt" 
        "feed-card-author";

    @include for-size(phone-only){
        margin-left: 5px;
        margin-right: 5px;
    }
}

// row to display the title of the item
.feed-latest .feed-card-title {
    grid-area: feed-card-title;
    align-self: end;
    @include for-size(phone-only){
        margin-bottom: 5px;
    }
}

// row to display the excerpt of the item
.feed-latest .feed-card-excerpt {
    grid-area: feed-card-excerpt;
    align-self: end;
    @include for-size(phone-only){
        display: none;
    }
}

// row to display the author of the item
.feed-latest .feed-card-author {
    grid-area: feed-card-author;
    align-self: end;
    margin-bottom: 15px;
    margin-top: 10px;
    @include for-size(phone-only){
        display: none;
    }
}

// TYPOGRAPHY
.feed-latest .feed-item-title {
    @include fluid-type(11px, 24px);
    text-transform: uppercase;
}

.feed-latest .feed-item-link {
    text-decoration: none;
    color: $cambermastWhite;
    &:link { color: $cambermastWhite; }
    &:visited { color: $cambermastWhite; }
    &:hover { color: $cambermastWhite; }
}

.feed-latest .feed-item-excerpt {
    @include fluid-type(11px, 16px);
    color: lightgray;
}

.feed-latest .feed-item-author {
    @include fluid-type(11px, 14px);
    text-transform: uppercase;
    color: lightgray;
}
