
// Display a single row, multi-column list of all the lataest posts
// Only override the feed-latest css where necessary

// wrapper container for the whole section

.feed-latest-posts {
    display: grid;
    grid-column: 1fr;
    margin-top: 5px;
}


.feed-latest-post-cards {
    display: grid;
    grid-template-columns: repeat(2, .5fr); // TODO: allow any number of columns
    gap: 10px;
    @include for-size(phone-only){
        gap: 5px;
    }
}

.feed-latest-post-cards .feed-card-content {
    display: grid;
    margin-left: 5px;
}

.feed-latest-post-cards .feed-item-image {
    border-radius: 5px;
}

.feed-latest-post-cards .feed-card-gradient-overlay {
    border-radius: 5px;
}

.feed-latest-post-cards .feed-card-glyph {
    grid-area: feed-card-glyph;
    align-self: start;
    margin-left: 10px;
    margin-top: 10px;
}