// layout for a new podcast posting
.podcast-post-section {
    margin-top: 10px;
    margin-left: $gridMarginLeft;
    margin-right: $gridMarginRight;
}

.podcast-post-section .guest-photos {
    display: grid;
    grid-auto-flow: column;
    // overflow: auto;
    grid-gap: 5px;
    border-radius: 5px;
    align-content: start;
    justify-content: start;
}

.podcast-post-section .guest-photo {
    width: 150px;
    height: 150px;
    object-fit: cover;
    @include for-size(phone-only){
        width: 75px;
        height: 75px;
    }
}

.podcast-post-section .post-content .img {
    max-width: 50%;
    height: auto;
}
