// Styles for the featured image of a post

// overlapping grids: https://cssgrid-generator.netlify.com/
// 1x1, then click three times on the cell.
.featured-image-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-content: center;
    justify-content: center;

    // place items over the featured image.
    .featured-image-secondary-div   { grid-area: 1 / 1 / 2 / 2; } // image
    .featured-image-secondary-div   { grid-area: 1 / 1 / 2 / 2; } // gradient or other overlay
    .featured-image-secondary-div   { grid-area: 1 / 1 / 2 / 2; } // overlay objects like text, buttons, etc.
}

// allow the featured image to resize.
.featured-image-secondary {
    min-width: 350px; // Do not resize to smaller than this.
    width: 100%;
    height: calc(80px + 18vw);
    object-fit: cover;
}

// display a gradient on the featured image.
.featured-image-secondary-div {
    max-width: 100%;
    background: black;
    background: linear-gradient(60deg, rgba(0,0,0,0.7777485994397759) 5%, rgba(255,255,255,0) 100%);
}

// center the heading horizontally and vertically
.featured-image-h1 {
  display: grid;
  height: 100%;
  justify-items: start;
  align-items: end;
  margin-left: $gridMarginLeft;
  margin-right: $gridMarginRight;
}

// featured image secondary text
.featured-image-h1 {
  font-size: calc(16px + .9vw); // approximately 32px at the largest width
  letter-spacing: .05em;
  font-weight: bolder;
  text-transform: uppercase;
  color: $bannerHead1Color;
}
