// site-wide typography
// IMPORTANT: scss files will contain 'local' typography.
//            this is for h1, h2, etc.

// body
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

input {
    outline: none;
}
h1, h2, h3, h4 {
    margin: 0;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
p {
    margin: 0;
}

// h1 styles
h1 {
  text-align: center;
  font-size: 28px ;
  font-weight: bold ;
  text-transform: uppercase;
  margin: 40px 0 ;
  @include for-size(desktop-up){
      font-size: 24px;
      margin: 30px 0 ;
    }
  @include for-size(tablet-only){
    margin-bottom: 0;
  }
  @include for-size(phone-only){
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 0;
  }
}

// h2 styles
h2 {
  color: #ffffff;
  font-size: 28px;
  margin: 20px 0 ;
  @include for-size(phone-only){
    font-size: 22px ;
  }
}

// h3 styles
h3 {
  font-size: calc(12px + 1vw); // responsive size, but keep a minimum.
  margin-bottom: .25em;

  // do not wrap text
  white-space: nowrap;
  overflow: hidden;
}

// h5 styles
h5 {
  font-size: 22px ;
  margin: 20px 0 ;
  @include for-size(desktop-up){
    font-size: 20px ;
  }
  @include for-size(tablet-landscape-up){
    font-size: 14px;
  }
  @include for-size(phone-only){
    font-size: 16px;
  }
}

// h6 styles
h6 {
  font-size: 20px;
  margin: 0 0 15px 0;
  @include for-size(desktop-up){
    font-size: 16px;
  }
  @include for-size(tablet-only){
    font-size: 14px;
    padding-top: 10px;
  }
  @include for-size(phone-only){
    font-size: 16px;
  }
}

// top banner image (text)
.banner-h1 {
  font-size: 32px;
  letter-spacing: .05em;
  font-weight: bolder;
  color: $bannerHead1Color;
  @include for-size(tablet-landscape-up){
    font-size: 28px;
    line-height: normal;
  }
  @include for-size(phone-only){
    font-size: 16px;
  }
}

.banner-text {
    font-size: 18px;
    line-height: 24px;
    color: $bannerHead1Color;
    margin-top: $bannerHead2MarginTop;
    margin-bottom: 20px;
    @include for-size(desktop-up){
      font-size: 16px;
      line-height: 22px;
    }
    @include for-size(tablet-landscape-up){
      font-size: 12px;
    }
    @include for-size(phone-only){
        line-height: normal;
    }
}

// Get started button
.button-default {
  font-size: 14px;
  padding: 14px 30px;
  color: $btnDefaultColor;
  background-color: $btnDefaultBgColor;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid $btnDefaultBorderColor;

    &:link { text-decoration: none; }
    &:visited { text-decoration: none;}
    @include for-size(tablet-landscape-up){
        font-size: 12px;
        padding: 5px 15px;
    }
}

